In [201]:
import pandas as pd
import csv
import matplotlib

In [202]:
data= pd.read_csv(r"C:\Users\ttjrb\OneDrive\Desktop\University Important\summer 2024 work\projects\databases\ALL 1320 nba games 2022-23\basic.csv")
advancedData=pd.read_csv(r"C:\Users\ttjrb\OneDrive\Desktop\University Important\summer 2024 work\projects\databases\ALL 1320 nba games 2022-23\advanced.csv")
gamesData=pd.read_csv(r"C:\Users\ttjrb\OneDrive\Desktop\University Important\summer 2024 work\projects\databases\ALL 1320 nba games 2022-23\games.csv")
scoringDate=pd.read_csv(r"C:\Users\ttjrb\OneDrive\Desktop\University Important\summer 2024 work\projects\databases\ALL 1320 nba games 2022-23\scoring.csv")
matchupsData=pd.read_csv(r"C:\Users\ttjrb\OneDrive\Desktop\University Important\summer 2024 work\projects\databases\ALL 1320 nba games 2022-23\matchups.csv")

In [203]:
data.shape

(34024, 25)

In [244]:
advancedData.shape

(34024, 28)

In [246]:
df=pd.concat([data,advancedData], axis=1)
df.shape

(34024, 53)

In [242]:
data.columns

Index(['gameid', 'home', 'team', 'playerid', 'name', 'SEC', 'FGM', 'FGA',
       'FGpct', '3PM', '3PA', '3Ppct', 'FTM', 'FTA', 'FTpct', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'plusminusPTS'],
      dtype='object')

In [205]:
data.head()

,gameid,home,team,playerid,name,SEC,FGM,FGA,FGpct,3PM,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,plusminusPTS
0,22200001,True,BOS,1627759,Jaylen Brown,2314.0,14,24,0.583,4,...,0,3,3,2,2,1,4,1,35,7
1,22200001,True,BOS,1628369,Jayson Tatum,2317.0,13,20,0.650,2,...,0,12,12,4,1,1,3,1,35,10
2,22200001,True,BOS,201143,Al Horford,1386.0,2,7,0.286,2,...,1,4,5,1,0,0,0,4,6,8
3,22200001,True,BOS,1628401,Derrick White,1442.0,1,3,0.333,0,...,1,2,3,4,1,0,1,2,2,9
4,22200001,True,BOS,203935,Marcus Smart,2165.0,3,8,0.375,1,...,1,2,3,7,1,0,1,3,14,0

In [206]:
advancedData.head()

,gameid,home,team,playerid,name,SEC,estOFFRTG,OFFRTG,estDEFRTG,DEFRTG,...,TOVratio,effFGpct,TSpct,USGpct,estUSGpct,estpace,pace,paceper40,POS,pie
0,22200001,True,BOS,1627759,Jaylen Brown,2314.0,128.3,131.6,114.9,119.2,...,12.9,0.667,0.691,0.354,0.354,98.85,95.83,79.86,76,0.157
1,22200001,True,BOS,1628369,Jayson Tatum,2317.0,126.2,125.6,109.1,111.4,...,9.7,0.700,0.730,0.321,0.331,98.41,97.56,81.30,78,0.250
2,22200001,True,BOS,201143,Al Horford,1386.0,135.8,143.5,123.8,126.1,...,0.0,0.429,0.429,0.140,0.138,99.16,95.58,79.65,46,0.023
3,22200001,True,BOS,1628401,Derrick White,1442.0,123.0,124.5,104.6,107.5,...,12.5,0.333,0.291,0.069,0.071,107.98,105.82,88.19,53,0.038
4,22200001,True,BOS,203935,Marcus Smart,2165.0,122.6,123.0,116.1,121.3,...,5.0,0.438,0.608,0.160,0.164,101.49,99.09,82.58,74,0.094

In [207]:
gamesData.head()

     gameid                  date home  h_pts away  a_pts  ot     type
0  22200001  2022-10-18T19:30:00Z  BOS    126  PHI    117   0  regular
1  22200002  2022-10-18T22:00:00Z  GSW    123  LAL    109   0  regular
2  22200003  2022-10-19T19:00:00Z  DET    113  ORL    109   0  regular
3  22200004  2022-10-19T19:00:00Z  IND    107  WAS    114   0  regular
4  22200008  2022-10-19T19:30:00Z  TOR    108  CLE    105   0  regular

In [208]:
matchupsData.head()

,gameid,home,ofid,ofplayer,ofteam,deid,deplayer,deteam,matchupSEC,partialPOS,...,matchup3PM,matchup3PA,matchup3Ppct,helpBLK,helpFGM,helpFGA,helpFGpct,matchupFTM,matchupFTA,shootingfouls
0,22200001,True,1627759,Jaylen Brown,BOS,203954,Joel Embiid,PHI,38.3,4.3,...,0,0,0.0,0,0,0,0,0,0,0
1,22200001,True,1627759,Jaylen Brown,BOS,201935,James Harden,PHI,78.2,7.3,...,0,2,0.0,0,0,0,0,0,0,0
2,22200001,True,1627759,Jaylen Brown,BOS,1626149,Montrezl Harrell,PHI,12.7,2.1,...,0,1,0.0,0,0,0,0,0,0,0
3,22200001,True,1627759,Jaylen Brown,BOS,202699,Tobias Harris,PHI,479.8,38.0,...,0,1,0.0,0,0,0,0,0,0,0
4,22200001,True,1627759,Jaylen Brown,BOS,1627863,Danuel House Jr.,PHI,57.7,4.3,...,1,2,0.5,0,0,0,0,0,0,0

In [209]:
scoringDate.head()

,gameid,home,team,playerid,name,SEC,pctFGA2P,pctFGA3P,pctPTS2P,pctPTSmidrange2P,...,pctFBPTS,pctPTSFT,pctPTSoffTOV,pctPIP,pctAST2P,pctUAST2P,pctAST3P,pctUAST3P,pctASTFGM,pctUASTFGM
0,22200001,True,BOS,1627759,Jaylen Brown,2314.0,0.500,0.500,0.571,0.229,...,0.286,0.086,0.257,0.343,0.200,0.800,1.0,0.0,0.429,0.571
1,22200001,True,BOS,1628369,Jayson Tatum,2317.0,0.650,0.350,0.629,0.229,...,0.286,0.200,0.229,0.400,0.455,0.545,0.5,0.5,0.462,0.538
2,22200001,True,BOS,201143,Al Horford,1386.0,0.286,0.714,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,1.0,0.0,1.000,0.000
3,22200001,True,BOS,1628401,Derrick White,1442.0,0.667,0.333,1.000,1.000,...,0.000,0.000,0.000,0.000,1.000,0.000,0.0,0.0,1.000,0.000
4,22200001,True,BOS,203935,Marcus Smart,2165.0,0.500,0.500,0.286,0.143,...,0.071,0.500,0.357,0.143,0.000,1.000,1.0,0.0,0.333,0.667

In [210]:
data.index

RangeIndex(start=0, stop=34024, step=1)

In [214]:
data.describe()

,gameid,playerid,SEC,FGM,FGA,FGpct,3PM,3PA,3Ppct,FTM,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,plusminusPTS
count,3.402400e+04,3.402400e+04,27739.000000,34024.000000,34024.000000,34024.000000,34024.000000,34024.000000,34024.000000,34024.000000,...,34024.000000,34024.000000,34024.000000,34024.000000,34024.000000,34024.000000,34024.000000,34024.000000,34024.00000,34024.000000
mean,2.370687e+07,1.266702e+06,1380.669707,3.246973,6.845668,0.361006,0.955531,2.654714,0.210619,1.421673,...,0.809252,2.559987,3.369239,1.956207,0.563396,0.362215,1.035328,1.548289,8.87115,0.000000
std,5.410745e+06,6.229474e+05,660.115351,3.387103,6.454548,0.287392,1.415146,3.013922,0.280424,2.334259,...,1.291757,2.748197,3.511823,2.547026,0.886619,0.752467,1.358861,1.528234,9.24212,9.975195
min,2.220000e+07,2.544000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,-44.000000
25%,2.220033e+07,2.040600e+05,892.500000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,-5.000000
50%,2.220066e+07,1.629006e+06,1439.000000,2.000000,6.000000,0.400000,0.000000,2.000000,0.000000,0.000000,...,0.000000,2.000000,3.000000,1.000000,0.000000,0.000000,1.000000,1.000000,6.00000,0.000000
75%,2.220100e+07,1.630227e+06,1923.000000,5.000000,11.000000,0.556000,2.000000,4.000000,0.400000,2.000000,...,1.000000,4.000000,5.000000,3.000000,1.000000,1.000000,2.000000,3.000000,14.00000,5.000000
max,5.220021e+07,1.641645e+06,3306.000000,22.000000,39.000000,1.000000,13.000000,22.000000,1.000000,23.000000,...,14.000000,20.000000,29.000000,21.000000,7.000000,9.000000,12.000000,6.000000,71.00000,46.000000

In [215]:
data['BLK'].describe()

count    34024.000000
mean         0.362215
std          0.752467
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          9.000000
Name: BLK, dtype: float64

In [227]:
Qualified= data[data['SEC']>600]

In [228]:
Qualified.shape

(23515, 25)

In [229]:
Qualified['BLK'].mean()

0.5057197533489263

In [230]:
data[data['SEC']>600]

,gameid,home,team,playerid,name,SEC,FGM,FGA,FGpct,3PM,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,plusminusPTS
0,22200001,True,BOS,1627759,Jaylen Brown,2314.0,14,24,0.583,4,...,0,3,3,2,2,1,4,1,35,7
1,22200001,True,BOS,1628369,Jayson Tatum,2317.0,13,20,0.650,2,...,0,12,12,4,1,1,3,1,35,10
2,22200001,True,BOS,201143,Al Horford,1386.0,2,7,0.286,2,...,1,4,5,1,0,0,0,4,6,8
3,22200001,True,BOS,1628401,Derrick White,1442.0,1,3,0.333,0,...,1,2,3,4,1,0,1,2,2,9
4,22200001,True,BOS,203935,Marcus Smart,2165.0,3,8,0.375,1,...,1,2,3,7,1,0,1,3,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34016,52200211,False,OKC,1628983,Shai Gilgeous-Alexander,2157.0,5,19,0.263,0,...,4,3,7,3,1,3,1,4,22,-22
34017,52200211,False,OKC,1630198,Isaiah Joe,1270.0,3,9,0.333,1,...,1,1,2,1,0,1,2,3,7,-7
34018,52200211,False,OKC,203967,Dario Saric,753.0,1,3,0.333,0,...,0,2,2,0,1,0,1,1,2,-7
34019,52200211,False,OKC,1630322,Lindy Waters III,979.0,2,7,0.286,1,...,2,0,2,2,1,0,2,2,5,-8
34020,52200211,False,OKC,1630598,Aaron Wiggins,903.0,2,3,0.667,0,...,1,1,2,0,0,0,0,1,4,-6

In [233]:
data.loc[data['SEC']>600]

,gameid,home,team,playerid,name,SEC,FGM,FGA,FGpct,3PM,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,plusminusPTS
0,22200001,True,BOS,1627759,Jaylen Brown,2314.0,14,24,0.583,4,...,0,3,3,2,2,1,4,1,35,7
1,22200001,True,BOS,1628369,Jayson Tatum,2317.0,13,20,0.650,2,...,0,12,12,4,1,1,3,1,35,10
2,22200001,True,BOS,201143,Al Horford,1386.0,2,7,0.286,2,...,1,4,5,1,0,0,0,4,6,8
3,22200001,True,BOS,1628401,Derrick White,1442.0,1,3,0.333,0,...,1,2,3,4,1,0,1,2,2,9
4,22200001,True,BOS,203935,Marcus Smart,2165.0,3,8,0.375,1,...,1,2,3,7,1,0,1,3,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34016,52200211,False,OKC,1628983,Shai Gilgeous-Alexander,2157.0,5,19,0.263,0,...,4,3,7,3,1,3,1,4,22,-22
34017,52200211,False,OKC,1630198,Isaiah Joe,1270.0,3,9,0.333,1,...,1,1,2,1,0,1,2,3,7,-7
34018,52200211,False,OKC,203967,Dario Saric,753.0,1,3,0.333,0,...,0,2,2,0,1,0,1,1,2,-7
34019,52200211,False,OKC,1630322,Lindy Waters III,979.0,2,7,0.286,1,...,2,0,2,2,1,0,2,2,5,-8
34020,52200211,False,OKC,1630598,Aaron Wiggins,903.0,2,3,0.667,0,...,1,1,2,0,0,0,0,1,4,-6

In [240]:
data[data['SEC']>600]

,gameid,home,team,playerid,name,SEC,FGM,FGA,FGpct,3PM,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,plusminusPTS
0,22200001,True,BOS,1627759,Jaylen Brown,2314.0,14,24,0.583,4,...,0,3,3,2,2,1,4,1,35,7
1,22200001,True,BOS,1628369,Jayson Tatum,2317.0,13,20,0.650,2,...,0,12,12,4,1,1,3,1,35,10
2,22200001,True,BOS,201143,Al Horford,1386.0,2,7,0.286,2,...,1,4,5,1,0,0,0,4,6,8
3,22200001,True,BOS,1628401,Derrick White,1442.0,1,3,0.333,0,...,1,2,3,4,1,0,1,2,2,9
4,22200001,True,BOS,203935,Marcus Smart,2165.0,3,8,0.375,1,...,1,2,3,7,1,0,1,3,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34016,52200211,False,OKC,1628983,Shai Gilgeous-Alexander,2157.0,5,19,0.263,0,...,4,3,7,3,1,3,1,4,22,-22
34017,52200211,False,OKC,1630198,Isaiah Joe,1270.0,3,9,0.333,1,...,1,1,2,1,0,1,2,3,7,-7
34018,52200211,False,OKC,203967,Dario Saric,753.0,1,3,0.333,0,...,0,2,2,0,1,0,1,1,2,-7
34019,52200211,False,OKC,1630322,Lindy Waters III,979.0,2,7,0.286,1,...,2,0,2,2,1,0,2,2,5,-8
34020,52200211,False,OKC,1630598,Aaron Wiggins,903.0,2,3,0.667,0,...,1,1,2,0,0,0,0,1,4,-6