In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
matchupsData=pd.read_csv(r"C:\Users\ttjrb\OneDrive\Desktop\University Important\summer 2024 work\projects\databases\ALL 1320 nba games 2022-23\matchups.csv")

In [2]:
matchupsData.head()

,gameid,home,ofid,ofplayer,ofteam,deid,deplayer,deteam,matchupSEC,partialPOS,...,matchup3PM,matchup3PA,matchup3Ppct,helpBLK,helpFGM,helpFGA,helpFGpct,matchupFTM,matchupFTA,shootingfouls
0,22200001,True,1627759,Jaylen Brown,BOS,203954,Joel Embiid,PHI,38.3,4.3,...,0,0,0.0,0,0,0,0,0,0,0
1,22200001,True,1627759,Jaylen Brown,BOS,201935,James Harden,PHI,78.2,7.3,...,0,2,0.0,0,0,0,0,0,0,0
2,22200001,True,1627759,Jaylen Brown,BOS,1626149,Montrezl Harrell,PHI,12.7,2.1,...,0,1,0.0,0,0,0,0,0,0,0
3,22200001,True,1627759,Jaylen Brown,BOS,202699,Tobias Harris,PHI,479.8,38.0,...,0,1,0.0,0,0,0,0,0,0,0
4,22200001,True,1627759,Jaylen Brown,BOS,1627863,Danuel House Jr.,PHI,57.7,4.3,...,1,2,0.5,0,0,0,0,0,0,0

In [3]:
#create an empty dataframe with the desired columns
df=pd.DataFrame(columns=['name','matchup','time','pts'])

In [4]:
#extract the list of unique players that played during this season
players= matchupsData['ofplayer'].unique()
i=0

#iterating every player and isolating all their matchups data in a new data frame
for player in players:
    playerLoc= matchupsData[matchupsData['ofplayer']==player]

#extract the list of unique players the actual player (iteration) had a matchup against
    playerMatchups= playerLoc['deplayer'].unique()

#iterating every player from the matchups list and finding the sum of the matchup time and of the points scored
    for matchup in playerMatchups:
        matchupTime= playerLoc[playerLoc['deplayer']==matchup]['matchupSEC'].sum()
        matchupPts= playerLoc[playerLoc['deplayer']==matchup]['playerPTS'].sum()

#appending each matchup total stats to the pre-created dataframe
        df.loc[i]=[player,matchup,matchupTime,matchupPts]
        i+=1

In [5]:
df

                    name                   matchup    time  pts
0           Jaylen Brown               Joel Embiid   464.8   25
1           Jaylen Brown              James Harden  1391.1   40
2           Jaylen Brown          Montrezl Harrell    17.9    2
3           Jaylen Brown             Tobias Harris  2167.5   38
4           Jaylen Brown          Danuel House Jr.   121.9    5
...                  ...                       ...     ...  ...
136136  Tristan Thompson                Jeff Green    38.9    0
136137  Tristan Thompson              Jamal Murray    56.5    2
136138  Tristan Thompson        Michael Porter Jr.    18.7    0
136139  Tristan Thompson  Kentavious Caldwell-Pope    16.8    0
136140  Tristan Thompson              Aaron Gordon    41.0    0

[136141 rows x 4 columns]

In [8]:
df.sort_values('name',ascending=False)

                   name            matchup   time  pts
36348   Zion Williamson        Buddy Hield   29.0    6
36487   Zion Williamson      Tobias Harris  210.9   10
36416   Zion Williamson      Dalano Banton    8.4    0
36417   Zion Williamson     Scottie Barnes   98.0    6
36418   Zion Williamson         Khem Birch   25.2    0
...                 ...                ...    ...  ...
127588      A.J. Lawson       Keon Johnson   32.0    0
127587      A.J. Lawson       Jerami Grant   30.8    0
127586      A.J. Lawson     Greg Brown III   20.6    6
127585      A.J. Lawson      Norman Powell    2.2    0
127626      A.J. Lawson  Derrick Jones Jr.   65.9    5

[136141 rows x 4 columns]

In [12]:
df[df["name"]=="Joel Embiid"].sort_values('pts', ascending=False)

             name             matchup    time  pts
3858  Joel Embiid          Al Horford  3762.0  122
3869  Joel Embiid         Brook Lopez  2469.7   78
3863  Joel Embiid      Grant Williams  1906.3   70
3928  Joel Embiid        Clint Capela  1466.9   51
3913  Joel Embiid      Nikola Vucevic  1573.0   49
...           ...                 ...     ...  ...
4130  Joel Embiid  Michael Porter Jr.    37.7    0
4128  Joel Embiid        Jamal Murray    74.9    0
3986  Joel Embiid         Daishen Nix     1.8    0
4126  Joel Embiid        Bones Hyland    26.1    0
4207  Joel Embiid       Edmond Sumner     1.6    0

[354 rows x 4 columns]

In [7]:
df.sort_values('time',ascending=False).to_csv("most recurrent matchups (from prompt7).csv",index=False)